<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello I am template!</title>
</head>
<body>
    <h1>Welcome to code Analyzer!</h1>
    <h2>Enter your code below</h2>


    <form action='/analyze' method='get'>

        <textarea name='text' id="" cols="30" rows="10" style="width: 1416px; height: 242px;"></textarea>
        <input type="checkbox" name="removepunc">Remove Puncuation <br>
        <input type="checkbox" name="fullcaps">CAPTIALIZE<br>

        <button type="submit">Submit</button>
    </form>


</body>
</html>

<title>index is working</title>